* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: moccasin;
}
.App {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: rgb(255, 115, 0);
  text-align: center;
}
.input {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

input {
  width: 50px;
  font-size: 25px;
  padding-left: 5px;
}

button {
  background-color: rgb(249, 156, 80);
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 20px;
}
.text p {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  width: 50%;
  margin: auto;
  text-align: justify;
  margin: 20px auto;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .input {
    flex-direction: column;
  }
  input {
    width: 60%;
    text-align: center;
  }

  .text p {
    width: 90%;
  }
}
